.offerformsec {
    background-image: url("../assets/images/offerimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.lorem{
    font-feature-settings: 'clig' off, 'liga' off;
    letter-spacing: -0.2px;
}
